@import '../../assets/styles/variables';

.app {
  background: center / cover url('./bg_home.jpg');
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @media screen and(max-width: $md) {
    height: 100%;
  }
}

.app__title {
  color: #ffffff;
  font-size: 3.6em;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
