@import '../../assets/styles/variables';
.cart {
  position: absolute;
  background: rgb(39, 39, 39);
  color: #fff;
  width: 400px;
  text-align: center;
  right: 20px;
  top: 80px;
  z-index: 100;
  padding: 15px;
  border-radius: 10px;
  @media screen and(max-width: $sm) {
    width: 80vmin;
  }
  & > h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }
}
